---
import Layout from "../layouts/Layout.astro";
import "../main.css";
---

<Layout title="Welcome to Pablos House.">
	<div style="height: 100vh;" id="vanta">
		<video autoplay muted loop id="background-video" class="absolute inset-0 w-full h-full -z-50 object-cover">
			<source src="/Background/mov2.mov" type="video/mp4" />
		</video>

		<div class="container mx-auto md:max-w-md py-2 md:py-6 px-4 z-10 ">
			<!-- Profile pic -->
			<img
				class="h-32 text-center mx-auto rounded-full"
				src="https://pablosmate.co/wp-content/uploads/2021/05/cropped-pablosmate_logo1-1.png"
				alt="Pablos Mate Profile Picture"
			/>
			<!--Name tag-->
			<div
				class="mt-4 mx-auto flex items-center justify-center w-fit"
			>
			</div>

			<!--Social Links-->
			<div class="py-4">
				<!-- Pablos site-->
				<a href="http://pablosmate.co/" target="_blank" class="btn">
					<span>Our Website</span>
				</a>
				<!-- Twitter -->
				<a
					href="https://twitter.com/pescao_pablo"
					target="_blank"
					class="btn"
				>
					<span>Find me on Twitter</span>
				</a>
				<!-- Contact -->
				<a
					href="mailto:admin@pablosmate.com"
					target="_blank"
					class="btn"
				>
					<span>Contact us</span>
				</a>

		</div>
	</div>

	<!-- Load Vanta.js -->

  <style>

    @media screen {
      #background-video {
        display: block; 
        background-color: transparent;
      }
      #vanta {
        background-color: transparent;
      }
    }

	body {
        font-family: 'California', sans-serif;
		font-size: 32px;
        letter-spacing: 4px;
		color: #009B68;
      }

  </style>
</Layout>