<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Pablos Mate HQ</title>
		<meta name="title" content="Pablos Mate Linktree">
		<meta name="description" content="Creative Web and Ecommerce Developer. Follow me on social.">

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://wwww.pablomate.co">
		<meta property="og:title" content="Follow us anywhere @pablosmate">
		<meta property="og:description"
			content="Creative Web and Ecommerce Developer. If you like my content or work let's connect and talk business">
		<meta property="og:image" content="https://pablosmate.co/wp-content/uploads/2021/05/cropped-pablosmate_logo1-1.png">

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image">
		<meta property="twitter:url" content="https://pablosmate.co/">
		<meta property="twitter:title" content="Pablos Mate Linktree">
		<meta property="twitter:description"
			content="Creative Web and Ecommerce Developer. If you like my content or work let's connect and talk business">
		<meta property="twitter:image" content="https://pablosmate.co/wp-content/uploads/2021/05/cropped-pablosmate_logo1-1.png">
		
		<link rel="icon" href="https://pablosmate.co/wp-content/uploads/2021/05/cropped-pablosmate_logo1-1.png">
	</head>
	<body>
		<slot />
	</body>
</html>